body {
    background-color: rgb(5, 5, 1);
    }
    .interface {
        max-width: 1280px;
        margin: 0 auto;
    }
    .flex {
        display: flex;
    }
    /* ESTILO DO CABEÇALHO */
    .logo img {
        height: 150px;
        width: 180px;
    }
    header {
        padding: 20px 4%;
    }
    header > .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .conteudo {
        text-align: center;
        color: white;
        font-family: "Oswald", sans-serif;
    }
    .conteudo span {
        color: orange;
    }
    img {
        height: 200px;
        width: 200px;
        border-radius: 10px;
        margin-left: 85px;
        cursor: pointer;
    }
    img:hover {
        transform: scale(1.1);
    transition: 1s;
    box-shadow: 10px 10px 18px rgba(0, 225, 255, 0.61);
    }
    .nome-do-item-elec {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 13px;
        margin-left: 90px;
        text-align: center; 
    }
    .nome-do-potente-elec {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 80px;
        font-size: 13px;
        text-align: center;
    }
    .nome-do-potente-elect {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 60px;
        font-size: 13px;
        text-align: center;
    }
    .descricao {
        display: flex;
    }
    .nome-do-item-elecy {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 13px;
        margin-left: 77px;
        text-align: center; 
    }
    .saida {
        text-align: center;
    }
    .saida button {
        margin-top: 20px;
        font-family: "Oswald", sans-serif;
        font-size: 15px;
        border-radius: 5px;
        background-color: azure;
        padding: 5px;
        border: 0;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .saida button:hover {
        background-color: orange;
        transform: scale(1.1);
        transition: 0.5s;
    }
    .div2 img {
        height: 200px;
        width: 200px;
        border-radius: 10px;
        margin-left: 160px;
        cursor: pointer;
    }
    .nome-do-item-music {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 13px;
        margin-left: 160px;
        text-align: center; 
    }
    .nome-do-potente-music {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 145px;
        font-size: 13px;
        text-align: center;
    }
    .nome-do-potente-musicy {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 165px;
        font-size: 13px;
        text-align: center;
    }
    .nome-do-item-house {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 13px;
        margin-left: 100px;
        text-align: center; 
    }
    .nome-do-potente-house {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 90px;
        font-size: 13px;
        text-align: center;
    }
    .nome-do-potente-housy {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 90px;
        font-size: 13px;
        text-align: center;
    }
    .nome-do-item-bee {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-size: 13px;
        margin-left: 188px;
        text-align: center; 
    }
    .nome-do-potente-bee {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 170px;
        font-size: 13px;
        text-align: center;
    }
    .nome-do-potente-bey {
        color: rgb(156, 154, 154);
        margin-top: 10px;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        margin-left: 140px;
        font-size: 13px;
        text-align: center;
    }